.Home-Page {
  background: linear-gradient(45deg, #4118b3, #18ad8d);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home-Page-App {
  margin-top: 15%;
  width: 75%;
}

.Home-Page-App > h1 {
  font-size: 3rem;
  font-weight: normal;
  color: white;
  text-align: center;
}
