.Home-Page {
  background: linear-gradient(45deg, #4118b3, #18ad8d);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home-Page-App {
  margin-top: 15%;
  width: 75%;
}

.Home-Page-App > h1 {
  font-size: 3rem;
  font-weight: normal;
  color: white;
  text-align: center;
}

.Home-Page-Links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.4rem;
}

.Home-Page-Link {
  width: 150px;
  padding: 1rem 0.8rem;
  border: 1px solid white;
  border-radius: 0.3rem;
  margin: 0 0.4rem 0.8rem 0.4rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
